nav{

	margin-top: -10px;
}

#login_table, #register_table
 {
    margin-top: 100px;
    color: #EBEBE2;
   background-color: rgba(0,0,0,0.4);
   border-top-style: solid;
   border-left: none;
   border-bottom-style:solid;
   border-right: none;
   font-family: sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 20px;
    border:2px;


 }

#login_table thead tr th, #register_table thead tr th
{
	text-align: center;
	padding: 15px 0px 30px 0px;
	 color: #EBEBE2;
	 font-family: sans-serif;
	font-size: 26px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 20px;
}

#login_submit, #register_submit
{
	color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(223, 117, 20); /* this is an orange */
	width: 100px;
	height: 40px;
	border:0 none;
	cursor:pointer;
	font-size: 14px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

 }

#login_submit:hover, #register_submit:hover
{
	background: rgba(223, 117, 20, 0.4); 
}

#login_submit:focus, #register_submit:focus{
    outline: none;
}

#login_table tr, #register_table tr
{
  line-height: 30px; 
  padding-bottom: 20px;
 font-size: 17px;

}

#login_table a, #register_table a
{
	color: #FFA500;
}


#login_table tr td, #register_table tr td
{
  padding: 10px 20px 10px 40px;
 
}


#pass, #email_log, #pass_log, #password, #confirm_password, #name, #last_name, #email
{
 height: 40px;
 width: 400px;
 color:#686870;

}
